@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/*Обнуление*/
*,
p {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  margin: 0;
}

body {
  color: #ffffff;
  background-color: #486ac7;
  font-family: "Montserrat", sans-serif;
}

/* общие стили */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.wrapper {
  max-width: 1236px;
  margin: 0 auto;
}
/* header */
.header {
  box-shadow: 0px 4px 40px rgba(0, 6, 32, 0.2);
  position: relative;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-wrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background: linear-gradient(to right, #4336bd, #8a7efa);
  border-radius: 30px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn-main {
  width: 100%;
}

/* goods list */
.total-wrapper {
  width: 100%;
  height: 40px;
  background-color: aqua;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.total-price {
  font-weight: 700;
  font-size: 16pt;
}
/* category group */

.category-title {
  display: inline-block;

  color: #1909a5;
}

.section-names {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}
.section-names div {
  width: 25%;
  text-align: center;
}

/* item details */

.item-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.item-wrapper div {
  /* flex: 0 0 25px; */
  width: 25%;
  text-align: left;
  border-top: 0.5px solid #550abd;
  margin-bottom: 5px;
}
.item-wrapper input {
  display: flex;
  width: 100%;
  text-align: center;
}

.item-ordered-price {
  display: flex;

  justify-content: center;
}

/* nav menu */

.nav-menu-wrapper {
  position: fixed;

  top: 0px;
  width: 200px;
  background-color: #8a7efa;
  z-index: 1;
}
.nav-menu-items {
  height: 100%;
  overflow: auto;
}

.nav-menu-item {
  padding: 5px;
}
